img {
    height: 350px;
    width: 100%;
}



@media (min-width: 768px) {

    img {
        height: 686px;
        width: 60vw;
        -o-object-fit: cover;
           object-fit: cover;
        
    }
}