header {
    height: 70px;
    background-color: var(--beige);
    display: grid;
    grid-template-columns: 10fr 1fr 1fr 1fr;
    grid-gap: 10px;
    -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}

h1 {
    font-size: 16px;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 19px;
}

.vertical {
    border-right: 1px solid black;
    height: 100%; 
    margin-right: 21px;     
}

@media (min-width: 768px) {
    header {
        position: fixed;
        height: 100%;
        width: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    h1 {
        margin-top: 20px;
        -webkit-writing-mode: vertical-lr;
            -ms-writing-mode: tb-lr;
                writing-mode: vertical-lr; /* orientation verticale du texte */
                -webkit-transform: rotate(-180deg);
                    -ms-transform: rotate(-180deg);
                        transform: rotate(-180deg); /* inverse la direction du texte */
    }
}