section {
    border: 1px solid red;
    padding: 0 21px 0 19px;
    margin-bottom: 76px;
}

p {
    background-color: var(--brown);
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    padding: 23px 21px;
    white-space: pre-wrap;
    
}