<app-back-button></app-back-button>

<section>

    <app-img-article
        [dataCountry]="articleInfo!.country"
        [dataCity]="articleInfo!.city"
        [dataStartDate]="articleInfo!.startDate"
        [dataEndDate]="articleInfo!.endDate"
        [dataMainImage]="articleInfo!.mainImage"
    ></app-img-article>

    <app-resum-article
        [title]="'Le voyage'" [text]="articleInfo!.text"
    ></app-resum-article>

     <app-avis-article
        [positivePoints]="articleInfo!.positivePoints"
        [negativePoints]="articleInfo!.negativePoints"
        [tips]="articleInfo!.tips"
    ></app-avis-article>

    <app-resum-article
        [title]="'En résumé'" [text]="articleInfo!.summary"
    ></app-resum-article>

    <app-quadri-img-article
    [gallery]="articleInfo!.secondaryImages"
    ></app-quadri-img-article>

</section>
