<app-back-button></app-back-button>

<section>

    <app-img-article
        [dataCountry]="articleInfo!.country"
        [dataCity]="articleInfo!.city"
        [dataStartDate]="articleInfo!.startDate"
        [dataEndDate]="articleInfo!.endDate"
        [dataMainImage]="articleInfo!.mainImage"
    ></app-img-article>

    <app-resum-article
        [resumText]="articleInfo!.text"
    ></app-resum-article>

    <!-- <app-avis-article
        [positivePoints]="articleInfo!.positivePoints"
    ></app-avis-article> -->

</section>
