section {
    padding: 0 21px 61px 19px;
}


img {
    height: 351px;
    width: 100%;
    margin-bottom: 19px;
    
}

@media (min-width: 768px) {
    
    section {
        margin: 115px 100px 0 252px;
    }

    img {
        height: 320px;
        width: 320px;
        margin-right: 35px;
    }
}