/* GENERAL */
* {
    text-decoration: none;
}

section {
    padding: 76px 20px 0 20px;
}

p {
    color: white;
}

h2 {
    margin-bottom: 35px;
} 


img {
    height: 283.88px;
    width: 100%;   
    -o-object-fit: cover;   
        object-fit: cover;
    zoom: 1.5;
}


/* DIV PRINCIPAL */

.container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: grid;
}

/* DIV CONTAINERBACKGROUND */

.containerBackground {
    background-color: var(--brown);
    margin-top: -4px;
    margin-bottom: 44px;
    height: 74.12px;
    display: grid;
    grid-template-columns: 3fr 1px 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* DIV CONTAINERCOUNTRY */

.containerCountry {
    margin-left: 24px;
}

.country {
    font-family: 'Lora', serif;
    font-size: 20px;
}

/* Trait de séparation */

.separator {
    border: 1px solid white;
    height: 100%;
}

/* DIV DATE */

.date {
    padding-left: 9px;
    padding-right: 16px;
}

.alignDate {
    margin-left: 5px;
}

@media (min-width: 768px) {

    h2 {
        margin-left: 157px;
        margin: 133px 0 44px 151px;
    }
   
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 29px;
        padding-left: 157px;
        padding-right: 175px;
        margin: 0;
    }

    .containerBackground {
        margin-bottom: 31px;
        padding: 0 34px;
    }

    .containerCountry {
        margin-left: 0px;
    }

    .date {
        margin-left: 5px;
        
    }
}