<h1 class="lora">Autres voyages</h1>

<div class="container">
  <div *ngFor="let image of otherArticle">
    <a routerLink="/articles/{{ image.id }}">
      <img src="{{ image.mainImage }}" alt="Paysages" />
      <div class="containerBackground">
        <div class="containerCountry">
            <p class="country lora">{{ image.country }}</p>
            <p> {{ image.city }} </p>
        </div>
        <div class="separator"></div>

        <div class="date">
            <p>Du {{ image.startDate | date : "dd.MM.yy" }}</p>
            <p class="alignDate">au {{ image.endDate | date : "dd.MM.yy" }}</p>
        </div>
      </div>
    </a>
  </div>
</div>
