/* font-family: 'Inter', sans-serif;
font-family: 'Lora', serif; */

:root {
    --beige : #EEDFD4;
    --brown : #C96B41;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            font-family: 'Inter', sans-serif;
}

h2, h3, h4 {
    font-family: 'Lora', serif;
    font-weight: 400;
}

h3 {
    font-size: clamp(28px, 4vw, 60px);
    margin-bottom: 35px;
}

h4 {
    font-size: 24px;
    margin-bottom: 33px;
}




